div{
    margin:0 auto;
}
.loginDiv{
    width:600px;
    height:400px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}
.topDiv{
    background-color:aqua;
    text-align: center;
    color: black;
}
.middleDiv{
    background-color:antiquewhite;
    width:40%;
    text-align:center;
}
tr{
    text-align: center;
}
